@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


:root{
    --gold: #fed872;
    --white: #fff;
    --color1: #ede0d4;
    --color2: #e6ccb2;
    --color3: #ddb892;
    --color4: #b08968;
    --color5: #7f5539;
    --color6: #9c6644;
    --black: #232b2b;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color1);
    font-family: 'Roboto';
    font-size: 0.75em;
    color: var(--black);
}

li{
    list-style-type: none;

}

.front{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    background-color: var(--color5);
    color: var(--color1);
    font-size: 2em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.nav-btn{
    color: var(--color1);
    text-decoration: none;
}

.left{
    font-family: 'Fasthand', cursive;
    font-size: 1.4em;
    margin-left: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    font-family: 'Fasthand', cursive;
    margin-right: 20px;
}

.menu button{
    display: none;
    border: none;
    background-color: var(--color5);
    color: var(--color1);
    font-size: 1.4em;
    margin-right: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.dropdown{
    position: fixed;
    right: 0;
    top: 46px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100vw;
    background-color: var(--color5);
    color: var(--color1);
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.about{
    display: flex;
    flex-direction: column;
    gap: 124px;
}

.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    max-height: 340px;
    margin-left: 40px;
    margin-right: 40px;
}

.description{
    color: var(--color5);
    min-width: 40vw;
    font-size: 1.6em;  
    margin-left: 20px; 
    font-weight: 700;
}

.food-image{
    height: auto;
    width: 27vw;
    margin-right: 20px;
}

#bottom{
    background-color: var(--color5);
    bottom: 0;
}

#bottom a{
    color: var(--color1);
    text-decoration: none;
    font-size: 1.2em;
}

.buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-left: 60px;
}

.btn{
    width: 200px;
    height: 60px;
    font-family: 'Fasthand', cursive;
    font-size: 2.6em;
    background-color: var(--color5);
    border: none;
    border-radius: 5px;
    color: var(--color1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
    transition: 0.4s ease;
}

.btn:hover, .mode:hover{
    color: var(--color5);
    background-color: var(--color2);
}

.text{
    font-size: 3em;
    margin-left: 40px;
    margin-bottom: 40px;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    min-height: 340px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
}

.statss{
    display: flex;
    justify-content: space-around;
    font-size: 2.8em;
}

.rec-desc{
    margin-left: 60px;
}

.chef-pic, .developer-image{
    width: 27vw;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
}

.team, .chefs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 500px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
}

.chefs{
    min-height: 600px;
}

.developer, .chef{
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    
}

.info{
    max-width: 27vw;
}

.title{
    padding-top: 46px;
    font-family: 'Fasthand', cursive;
    font-size: 4.8em;
    color: var(--color5);
    margin-left: 40px;
}

.copyright{
    color: var(--color1);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
}

.lang-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.lang-btn{
    font-size: 1em;
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: var(--color1);
    cursor: pointer;
}

.lang-btn:hover{
    text-decoration: underline;
}

.lang-btn:active{
    color: red;
}

.mode{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2.2em;
    background-color: var(--color5);
    color: var(--white);
    box-shadow: var(--shadow);
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 40px;
    float: right;
    right: 10px;
    transition: 0.4s ease;

}

@media screen and (max-width: 700px){
    .right{
        display: none;
    }

    .menu button{
        display: block;
    }

    .title{
        font-size: 3.2em;
    }

    .description{
        font-size: 1.2em;
        margin-left: 10px;
    }

    .menu:hover .dropdown{
        display: flex;
    }

    .food-image{
        display: none;
    }

    .description{
        max-width: 80vw;
    }

    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .stats{
        height: 560px;
    }
    .statss{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .container{
        width: 80vw;
    }

    .team, .chefs{
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
        min-height: 0;
    }

    .chef-pic, .developer-image{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80vw;
    }
    .info{
        max-width: 80vw;
    }
    .chef-desc:last-child, .email:last-child{
        margin-bottom: 20px;
    }
    .column{
        display: none;
    }
}