@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


:root{
    --gold: #fed872;
    --color1: #ede0d4;
    --color2: #e6ccb2;
    --color3: #ddb892;
    --color4: #b08968;
    --color5: #7f5539;
    --color6: #9c6644;
    --black: #232b2b;
    --shadow: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color1);
    font-family: 'Roboto';
    font-size: 0.75em;
}

.container{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 180px;
    font-size: 1.6em;
    box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 32px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input, .btn{
    width: 320px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
    border: none;
    font-size: 1.2em;
    border-radius: 2px;
}

.input{
    text-indent: 10px;
}

.input:focus{
    outline: none;
}

.btn{
    background-color: var(--color5);
    color: var(--color2);
}

.btn:hover{
    color: var(--color5);
    background-color: var(--color2);
    transition: 0.4s ease;
}

.title{
    font-family: 'Fasthand';
    font-size: 2.8em;
    color: var(--color5);
}

.bottom{
    background-color: var(--color5);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--color1);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    z-index: -1;
}

.input::placeholder{
    color: #232b2b;
    opacity: 0.5;
}

@media screen and (max-width: 700px){
    .container{
        width: 300px;
    }
    .input, .btn{
        width: 220px;
    }
}